* {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  background-color: rgb(18, 18, 20);

}

h1 {
  margin-top: 50px;
  color: #f7f7f7
}

a {
  color: #8257e5;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul li {
  padding-left: 14px;
}

p {
  color: #bcbcbc;
}

img {
  width: 300px;
  border-radius: 10px;

}

.backTo {
  color: #ffffff;
}

.contacts {
  color: #8257e5;
}